org.gradle.configuration-cache=true
org.gradle.parallel=true
org.gradle.caching=true

# Configure these in ~/.gradle/gradle.properties or environment variables
gpr.user=YOUR_GITHUB_USERNAME
gpr.key=YOUR_GITHUB_PAT